[project]
name = "structcast"
version = "0.0.0"
description = "Elegantly orchestrating structured data via a flexible and serializable workflow."
readme = "README.md"
requires-python = ">=3.9"
dependencies = []

[dependency-groups]
dev = []

[build-system]
requires = ["hatchling >= 1.26"]
build-backend = "hatchling.build"
